body {
    margin: 0;
    padding: 0;
}

#map {
    height: 100vh;
    width: 100%;
    z-index: 1;
}

#sidebar-handle {
    width: 9%;
    height: 10%;
    background: #DDD4BD;
    cursor: pointer;
    top: 45%;
    left: 497px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right: 2px solid black;
    border-left: 0;
    border-right: 3px solid black;
    border-top:3px solid black;
    border-bottom:3px solid black;
    position: absolute;
    z-index: 3;
    background-image: url('../images/right.png');
    background-size: 60% auto;
    background-repeat: no-repeat;
    background-position: center;
}

#sidebar {
    width: 500px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -500px;
    background: #DDD4BD;
    transition: left 0.3s;
    z-index: 4;
    border-right: 3px solid black;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
}

#sidebar.open {
    left: 0;
}

#sidebar h2 {
    margin-top: 5px;
    margin-left: 10px;
    font: bold 28px "Comic Sans MS", cursive;
}

.custom-zoom-container {
    position: absolute;
    top: 10px;
    right: 50px;
    z-index: 10;
}

div.mq-search-box {
    flex-grow: 1;
    margin-right: 10px;
    width: 82%;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 15px;
    margin-left: 15px;
    background: transparent;
}
#main-search-input{
background: transparent;
border: none;
}
form.search-input-form {
    display: inline-block;
    background: transparent;
    border: none;
    height: 100%;
    width: 90%;
}

input.search-input {
    border: none;
    width: 100%;
    font-size: 16px;
    border-radius: 7px;
    outline: none;
    height: 100%;
    background: transparent;
}
#search-button{
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: #DDD4BD;
    background-image: url('../images/search.png');
    background-size: 60% auto;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 12%;
    top: 50%;
    transform: translateY(-50%);
    border: none;
}
.search-container {
    position: relative;
}
#search-results {
    width: 95%;
    list-style: none;
    max-height: 85%;
    overflow-y: auto;
    list-style: none;
}

#search-results ul{
    padding-left: 15px;
}

#search-results li {
    background: #DDD4BD;
    border: 1px solid black;
    list-style: none;
    width: 90%;
    margin: 10px 0;
    padding-left: 15px;
}

#search-results li:hover {
    background-color: #D0C7B2;
}

#search-results li::before {
    color: #0074d9;
}

.context-menu {
    z-index: 1000;
    position: absolute;
    background-color: #FFB980;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 160px;
    height: 75px;
    border-radius: 20px;
    padding-top: 16px;
}

.context-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
}

.context-button{
    padding-bottom: 30px;
    text-align: left;
    font: bold 14px "Comic Sans MS", cursive;
    cursor: pointer;
    width: 100%;
    height: 50%;
    background: transparent;
    border: 2px;
}
.context-button:hover {
    background-color: #D0C7B2;
}

.search-result {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    margin: 5px;
    padding: 10px;
}

.search-result h3 {
    font-size: 18px;
    margin: 0;
}

.search-result p {
    font-size: 14px;
    color: #666;
    margin: 0;
}






